/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #fff;
}

.content {
    background-color: #fff;
    color: #000;
}
.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner img {
    width: 100%;
    height: auto;
}
.banner .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke: 5px #000;
}
.banner .subtext {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    -webkit-text-stroke: 1.5px #000;
}

/* Container */
.container {
    max-width: 1024px;
    margin: 0 auto;
}

/* Login, Forgot Password, and Create Account Cards */
.login-section, .forgot-password-section, .create-account-section {
    margin-top: -250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104vh; /* Full height of the viewport */
    z-index: 5; /* Sets the login section above other sections */
    position: relative;
}

.login-card, .forgot-password-card, .create-account-card {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    position: relative; /* Necessary for z-index to take effect */
    z-index: 10; /* Bring the login card above other elements */
}

.login-card form, .forgot-password-card form, .create-account-card form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 1rem;
}

.form-group input {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.btn {
    background-color: #000;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.links {
    margin-top: 20px;
    text-align: center;
}

.links a {
    color: #64b34e;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
}

.links a:hover {
    text-decoration: underline;
}
