{% load static %}
<html>
<head>
<title>
Login
</title>
<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
<div id="main">

<div class="content">
<div class="banner">
<img src="{% static 'image/background.jpg' %}" alt="Background Image">
<div class="text">GreenOasis</div>
<div class="subtext"> SINCE 2024</div>
</div>
<div class="login-section">
    <div class="login-card">
        <form action="/login/" method="POST">
            <div class="form-group">
                {% csrf_token %}
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn">Sign In</button>
        
        <div class="links">
            <a href="{% url 'forgotpassword' %}">Forgot password?</a>
            <a href="{% url 'createaccount' %}">Create Account</a>
        </div>
    </form>
    </div>
    </div>
</div>
</div>
</body>
</html>